.clearfix() {
	&:before,
	&:after
	{
		content : " "; // 1
		display : table; // 2
	}
	&:after
	{
		clear : both;
	}
}

.box-sizing(@boxmodel) {
	-webkit-box-sizing : @boxmodel;
	-moz-box-sizing    : @boxmodel;
	box-sizing         : @boxmodel;
}

.img-responsive(@display: block) {
	display   : @display;
	max-width : 100%; // Part 1: Set a maximum relative to the parent
	height    : auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}


/* fonts include mixin */
.font-include(@ns, @path,@weight:400,@style:normal) {
	@font-face
	{
		font-family : ~'@{ns}';
		src         : url(~'@{path}.eot');
		src         : url(~'@{path}.eot?#iefix') format('embedded-opentype'), url(~'@{path}.woff') format('woff'), url(~'@{path}.ttf') format('truetype'), url(~'@{path}.svg#@{ns}') format('svg');
		font-weight : @weight;
		font-style  : @style;
	}
}


/*
typography
*/

// Alignment
.text-left
{
	text-align : left;
}

.text-right
{
	text-align : right;
}

.text-center
{
	text-align : center;
}

.text-justify
{
	text-align : justify;
}

.text-nowrap
{
	white-space : nowrap;
}

// Transformation
.text-lowercase
{
	text-transform : lowercase;
}

.text-uppercase
{
	text-transform : uppercase;
}

.text-capitalize
{
	text-transform : capitalize;
}
