/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-appstore-button-name: icon--appstore-button;
@icon-appstore-button-x: 0px;
@icon-appstore-button-y: 0px;
@icon-appstore-button-offset-x: 0px;
@icon-appstore-button-offset-y: 0px;
@icon-appstore-button-width: 116px;
@icon-appstore-button-height: 30px;
@icon-appstore-button-total-width: 124px;
@icon-appstore-button-total-height: 364px;
@icon-appstore-button-image: '../i/bg/sprite.png';
@icon-appstore-button: 0px 0px 0px 0px 116px 30px 124px 364px '../i/bg/sprite.png' icon--appstore-button;
@icon-chopar-logo-name: icon--chopar-logo;
@icon-chopar-logo-x: 0px;
@icon-chopar-logo-y: 247px;
@icon-chopar-logo-offset-x: 0px;
@icon-chopar-logo-offset-y: -247px;
@icon-chopar-logo-width: 104px;
@icon-chopar-logo-height: 117px;
@icon-chopar-logo-total-width: 124px;
@icon-chopar-logo-total-height: 364px;
@icon-chopar-logo-image: '../i/bg/sprite.png';
@icon-chopar-logo: 0px 247px 0px -247px 104px 117px 124px 364px '../i/bg/sprite.png' icon--chopar-logo;
@icon-mytaxi-logo-name: icon--mytaxi-logo;
@icon-mytaxi-logo-x: 0px;
@icon-mytaxi-logo-y: 142px;
@icon-mytaxi-logo-offset-x: 0px;
@icon-mytaxi-logo-offset-y: -142px;
@icon-mytaxi-logo-width: 105px;
@icon-mytaxi-logo-height: 105px;
@icon-mytaxi-logo-total-width: 124px;
@icon-mytaxi-logo-total-height: 364px;
@icon-mytaxi-logo-image: '../i/bg/sprite.png';
@icon-mytaxi-logo: 0px 142px 0px -142px 105px 105px 124px 364px '../i/bg/sprite.png' icon--mytaxi-logo;
@icon-playmarket-button-name: icon--playmarket-button;
@icon-playmarket-button-x: 0px;
@icon-playmarket-button-y: 30px;
@icon-playmarket-button-offset-x: 0px;
@icon-playmarket-button-offset-y: -30px;
@icon-playmarket-button-width: 124px;
@icon-playmarket-button-height: 30px;
@icon-playmarket-button-total-width: 124px;
@icon-playmarket-button-total-height: 364px;
@icon-playmarket-button-image: '../i/bg/sprite.png';
@icon-playmarket-button: 0px 30px 0px -30px 124px 30px 124px 364px '../i/bg/sprite.png' icon--playmarket-button;
@icon-triangle-left-name: icon--triangle-left;
@icon-triangle-left-x: 0px;
@icon-triangle-left-y: 60px;
@icon-triangle-left-offset-x: 0px;
@icon-triangle-left-offset-y: -60px;
@icon-triangle-left-width: 35px;
@icon-triangle-left-height: 41px;
@icon-triangle-left-total-width: 124px;
@icon-triangle-left-total-height: 364px;
@icon-triangle-left-image: '../i/bg/sprite.png';
@icon-triangle-left: 0px 60px 0px -60px 35px 41px 124px 364px '../i/bg/sprite.png' icon--triangle-left;
@icon-triangle-right-name: icon--triangle-right;
@icon-triangle-right-x: 0px;
@icon-triangle-right-y: 101px;
@icon-triangle-right-offset-x: 0px;
@icon-triangle-right-offset-y: -101px;
@icon-triangle-right-width: 35px;
@icon-triangle-right-height: 41px;
@icon-triangle-right-total-width: 124px;
@icon-triangle-right-total-height: 364px;
@icon-triangle-right-image: '../i/bg/sprite.png';
@icon-triangle-right: 0px 101px 0px -101px 35px 41px 124px 364px '../i/bg/sprite.png' icon--triangle-right;
@spritesheet-width: 124px;
@spritesheet-height: 364px;
@spritesheet-image: '../i/bg/sprite.png';
@spritesheet-sprites: @icon-appstore-button @icon-chopar-logo @icon-mytaxi-logo @icon-playmarket-button @icon-triangle-left @icon-triangle-right;
@spritesheet: 124px 364px '../i/bg/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  &.@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
