@font-size-base: 16px;

@import (less) "../../bower_components/normalize-css/normalize.css";
@import "./lib/sprite";
@import "./lib/mixins";

.font-include(PFDinTextCompPro, '../fonts/PFDinTextCompPro/pfdintextcomppro-regular-webfont', 400, normal);
.font-include(PFDinTextCompPro, '../fonts/PFDinTextCompPro/pfdintextcomppro-bold', 500, normal);
.font-include(Lato, '../fonts/lato/lato-regular-webfont', 400, normal);
.font-include(Lato, '../fonts/lato/lato-bold-webfont', 500, normal);
.font-include(Lato, '../fonts/lato/lato-medium-webfont', 700, normal);
.font-include(Lato, '../fonts/lato/lato-black-webfont', 900, normal);

.icon
{
	display        : inline-block;
	vertical-align : middle;
	.sprites(@spritesheet-sprites);
}

.container
{
	.clearfix();
	//width     : 960px;
	width     : 100%;
	max-width : 1140px;
	margin    : 0 auto;
}

.clearfix
{
	.clearfix();
}

*
{
	.box-sizing(border-box);
}

*:before,
*:after
{
	.box-sizing(border-box);
}

body, html
{
	font-size   : @font-size-base;
	font-family : Arial, Helvetica, sans-serif;
}

.divider
{
	max-width  : 88px;
	height     : 1px;
	background : #70CCEE;
	width      : 90%;
}

/* ----------------------- */
.page
{
	min-width : 319px;

	&__footer
	{
		font-family : Lato;
		font-size   : 16px;
		font-weight : 400;
		line-height : 21px;
		text-align  : center;
		padding     : 45px 0;
	}
}

.header
{
	&__logotype
	{
		background : #FFF;
		width      : 460px;
		height     : 177px;
		margin     : 0 auto;
		padding    : 30px 82px;

		.logotype__link
		{
			&--mytaxi
			{
				float      : left;
				margin-top : 10px;
			}
			&--chopard
			{
				float : right;
			}
		}
	}
}

.button
{
	@b: ~'.button';

	display   : inline-block;
	font-size : 1.125em;
	padding   : 7px 14px;
	border    : 2px solid transparent;

	a&
	{
		text-decoration : none !important;
	}

	&-group > &
	{
		margin-right : 10px;
	}
	&--bordered
	{
		&__white
		{
			border-color : #FFF;
		}
		&__blue
		{
			border-color : #70CCEE;
		}
		&__yellow
		{
			border-color : #FBE604;
		}
	}

	&--size__medium
	{
		padding     : 9px 18px;
		font-size   : 2.563em;
		font-weight : 500;
	}
}

/*
==============
== SECTIONS ==
==============
*/
.section
{
	@b: ~'.section';
	overflow : hidden;

	&--1
	{
		background            : url(../i/bg/section-1.png) center bottom no-repeat;
		background-attachment : inherit;
		background-size       : cover;

		@{b}__content
		{
			text-align  : center;
			margin      : 70px auto 170px;
			line-height : 1.1;
			color       : #FFF;
			font-family : PFDinTextCompPro;
			font-weight : 400;
			overflow    : hidden;

			@{b}__title
			{
				display   : inline-block;
				margin    : 0 0 45px;
				font-size : @font-size-base;

				.text-quote
				{
					font-size      : 3.813em; //61px;
					text-transform : uppercase;

					.icon
					{
						margin : 0 35px;
					}
				}
				.text-big
				{
					margin         : 0 0 10px 0;
					font-size      : 9.875em; //158px;
					text-transform : uppercase;
				}
				.text-last
				{
					font-size : 1.875em;
				}
			}

			.button
			{
				color     : #FFF;
				font-size : 2.563em;
			}
		}
	}

	&--2
	{
		.product
		{
			width : 25%;
			float : left;

			&--preview
			{
				margin-top  : 30px;
				height      : 581px;
				text-align  : center;
				padding     : 20px;
				border-left : 1px solid #D6D6D6;

				&:first-child
				{
					border : 0;
				}
			}

			&__header
			{
				margin-bottom : 30px;
			}

			&__image
			{
				max-width  : 100%;
				height     : auto;
				max-height : 200px;
				display    : block;
				margin     : 0 auto;
			}
			&__name
			{
				font-family : Lato;
				font-size   : 1.125em; //18px;
				font-weight : 800;
				line-height : 1.875; //30px;
				display     : block;
			}

			.divider
			{
				margin : 25px auto;
			}

			&__text
			{
				font-family : Lato;
				font-size   : 1em;
				font-weight : 400;
				line-height : 1.4;
				min-height  : 165px;
				p
				{
					margin : 0;
				}
			}

			&__price
			{
				font-family : Lato;
				font-size   : 1.125em; //18px;
				font-weight : 800;
				line-height : 28px;
			}
		}
		.description
		{
			text-align     : center;
			margin         : 40px 0 30px;
			font-weight    : 400;
			font-family    : Lato;
			font-size      : 1.125em; //18px;
			line-height    : 42px;
			text-transform : uppercase;

			strong
			{
				font-weight : 800;
			}
		}
	}

	&--3
	{
		color                 : #FFF;
		background            : url(../i/bg/section-3.png) 0 0 no-repeat;
		background-attachment : scroll;
		background-size       : cover;
		font-family           : Lato;

		@{b}__title
		{
			margin      : 143px 0 50px;
			font-size   : 2.813em; //45px;
			font-weight : 900;
			line-height : 41px;
		}

		.container
		{
			position : relative;
		}

		@{b}__content
		{
			width    : 75%;
			overflow : hidden;
			position : relative;
			z-index  : 2;

			.step
			{
				width         : 50%;
				float         : left;
				margin-bottom : 80px;

				&__number
				{
					font-size      : 8.750em;
					font-weight    : 900;
					line-height    : 115px;
					margin-right   : 32px;
					display        : inline-block;
					vertical-align : middle;
				}
				&__text
				{
					width          : 160px;
					font-size      : 1.325em;
					font-weight    : 400;
					line-height    : 1.125em;
					display        : inline-block;
					vertical-align : middle;
				}

				&.step--3
				{
					margin-top : 20px;
				}
				&.step--4
				{
					//margin-top : 80px;
					.step__text
					{
						width : auto !important;
					}
					.text-1
					{
						display       : block;
						font-size     : 1.38em;
						font-weight   : 900;
						line-height   : 41px;
						margin-bottom : 8px;
					}

					.button-group
					{
						font-size : 0;

						.button
						{
							margin-top   : 25px;
							margin-right : 40px;
						}
					}
				}
			}
		}

		.example-phone
		{
			z-index  : 1;
			position : absolute;
			right    : 0;
			bottom   : 0;
			width    : 313px;
			//height   : 601px;

			img
			{
				.img-responsive();
			}
		}
	}

	&--4
	{
		color       : #FFF;
		text-align  : center;
		background  : #4A3949;
		font-family : Lato;

		@{b}__title
		{
			font-weight : 900;
			line-height : 25px;
			font-size   : 1.5em;
			margin      : 55px 0;

			.text-first
			{
				display : block;
				width   : 300px;
				margin  : 0 auto 14px;
			}

			.text-quote
			{
				font-size   : 1.4em;
				line-height : 23px;

				.icon
				{
					margin : 0 85px;
				}
			}
		}

		@{b}__content
		{
			overflow       : hidden;
			padding-bottom : 90px;

			.block
			{
				min-height  : 257px;
				width       : 25%;
				float       : left;
				padding     : 27px 50px;
				border-left : 1px solid #D6D6D6;

				&:first-child
				{
					border : 0;
				}

				&__title
				{
					font-size      : 1.15em;
					font-weight    : 700;
					line-height    : 30px;
					text-transform : uppercase;
				}

				.divider
				{
					margin : 18px auto 40px;
				}

				&.block--1 .block__text
				{
					font-size   : 2.813em; //45px;
					font-weight : 900;
					line-height : 44px;
				}

				&.block--2 .block__text,
				&.block--3 .block__text
				{
					margin-top : -8px;

					.num
					{
						font-size   : 5em;
						font-weight : 800;
						line-height : 66px;
						display     : block;
					}
					.name
					{
						font-size   : 2em; // 32px
						font-weight : 900;
						line-height : 31px;
					}
				}

				&.block--4 .block__text
				{
					margin      : 6px -10px;
					font-size   : 1.65em;
					font-weight : 900;
					line-height : 25px;
				}
			}
		}
	}

	&--5
	{
		overflow       : initial !important;
		background     : #F9E404;
		font-size      : 0;
		padding-bottom : 50px;

		.side
		{
			&__pizza
			{
				width          : 550px;
				margin-top     : -55px;
				display        : inline-block;
				vertical-align : top;
				position       : relative;

				img
				{
					.img-responsive();
				}

			}
			&__content
			{
				display      : inline-block;
				width        : 580px;
				padding-left : 40px;
				font-size    : @font-size-base;

				@{b}__title
				{
					font-family    : PFDinTextCompPro;
					font-size      : 2.125em; //34px;
					font-weight    : 500;
					line-height    : 38px;
					text-transform : uppercase;
					margin         : 50px 0 55px;

					.text-big
					{
						display       : block;
						font-size     : 2.824em;
						font-weight   : 500;
						line-height   : 81px;
						margin-bottom : 15px;
					}
				}

				.rules
				{
					font-family : Lato;
					font-size   : 1em;

					&__title
					{
						font-weight : 900;
						display     : block;

						&--md
						{
							line-height   : 41px;
							font-size     : 1.5em;
							margin-bottom : 30px;
						}
						&--base
						{
							font-size   : 1.25em;
							line-height : 20px;
							margin      : 45px 0;
						}
					}
					&__actions-list
					{
						padding     : 0 0 0 23px;
						font-weight : 700;
						line-height : 20px;
					}
				}
			}
		}
	}

}

@media (max-width : 950px)
{
	.section
	{
		&--2 .product--preview
		{
			width : 50%;

			&:after
			{
				content    : '';
				display    : block;
				height     : 1px;
				width      : 70%;
				margin     : 20px auto 0;
				background : #70CCEE;
			}
		}

		&--3
		{
			padding-left : 15px;
			.section__content
			{
				width : 55%;

				.step
				{
					width     : 100%;
					margin    : 0 0 20px !important;
					font-size : 12px;

					&__number
					{
						margin-right : 20px;
						line-height  : 1;
					}
				}

			}

			.example-phone
			{
				width : 40%;
			}
		}

		&--4 &__content
		{
			.block
			{
				width         : 50%;
				margin-top    : 10px;
				padding-left  : 15px;
				padding-right : 15px;
			}
		}

		&--5
		{
			.side__pizza
			{
				width : 50%;
			}
			.side__content
			{
				width : 50%;
			}
		}

	}

}

@media (max-width : 670px)
{
	.section
	{
		&--1
		{
			.section__content
			{
				margin-bottom : 70px !important;
			}
		}
		&--4 &__title .text-quote .icon
		{
			&:first-child
			{
				margin : 0 15px 0 0;
			}
			&:last-child
			{
				margin : 0 0 0 15px;
			}
		}

		&--5
		{
			.side__pizza
			{
				width  : 30%;
				margin : 40px 30px 30px 15px;
				float  : left;

				img
				{
					margin : 0 auto;
				}
			}

			.side__content
			{
				padding : 0 15px;
				width   : auto;
				display : block;

				.section__title
				{
					margin-top : 40px;
				}
			}
		}
	}
}

@media (max-width : 470px)
{
	@font-size-base: 12px;
	.page
	{
		font-size : @font-size-base !important;
	}

	.section
	{

		&--1
		{
			.header__logotype
			{
				width   : 100%;
				padding : 20px 30px;
			}
			.section__title
			{
				font-size : @font-size-base !important;

				.text-quote .icon
				{
					&:first-child
					{
						margin : 0 15px 0 0;
					}
					&:last-child
					{
						margin : 0 0 0 15px;
					}
				}
			}
		}
		&--2
		{
			font-size : @font-size-base + 2 !important;
			.product--preview
			{
				height     : auto;
				width      : 100%;
				margin-top : 10px;

				.product__text
				{
					min-height     : 0;
					padding-bottom : 30px;
				}
			}
		}
		&--3
		{
			padding : 0 15px !important;
			.section__content
			{
				width : 100%;

				.button-group
				{
					margin : 0 -10px;
					.button
					{
						padding-left  : 0;
						padding-right : 0;
						width         : 100%;
						max-width     : 150px;
						text-align    : center;
						margin        : 15px 10px 0 !important;
					}
				}
			}
			.example-phone
			{
				display : none;
			}
		}

		&--4
		{
			.block
			{
				width      : 100% !important;
				margin-top : 30px;
				min-height : 0 !important;
				position   : relative;

				.divider
				{
					position  : absolute;
					top       : -5px;
					left      : 50%;
					margin    : 0 0 0 -45% !important;
					max-width : none;
				}
				&__title
				{
					margin-bottom : 20px;
					display       : block;
				}
			}
		}

		&--5
		{
			.side__content .section__title
			{
				font-size   : 18px;
				margin      : 30px 0 !important;
				line-height : 1;

				.text-big
				{
					line-height : 1;
				}
			}
		}
	}

}
